{% extends "base.html" %} 
{% load static %} 

{% block title %} My blog {%endblock %} 

{% block css_files %}
 <link rel="stylesheet" href="{% static "blog/post.css" %}">
 <link rel="stylesheet" href="{% static "blog/index.css" %}"> 
{% endblock %} 
 
{% block content %}

<section id="welcome">
  <header>
    <img src="{% static "blog/images/masoud.png" %}" alt="Masoud - The Author of this blog" />
    <h2>MASOUD'S BLOG</h2>
  </header>
  <p>Experienced Python Developer Specializing in Web Scraping, Automation.</p>
</section>

<section id="latest-posts">
  <h2>My latest thoughts</h2>

  <ul>
    {% for post in posts %}
      {% include "blog/includes/post.html" %}
    {% endfor %}    
  </ul>
</section>

<section id="about">
  <h2>what I do!</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto, quo.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas aut magnam
    quaerat voluptatem provident expedita voluptatum, doloremque molestiae modi
    omnis!
  </p>
</section>
{% endblock %}
